.title {
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 2.25rem;
}

.tagline {
    font-size: 1.1rem;
    font-style: italic;
    color: #747474;
}

.date {
    color: #747474;
    font-size: .75rem;
}
  
.image-container {
    margin: 0 auto;
    margin-bottom: 2rem;
}
