.link-container {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.thumbnail-container {
  width: 25%;
}

.text-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.title {
  margin-top: .1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.date {
  color: #fa0808;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.reading-time {
  color: black;
  font-weight: bold;
}

.caption {
  color: black;
  font-style: italic;
}


@media (max-width: 901px) {
  .title {
    font-size: 22px;
    margin-bottom: .5rem;
  }
}