.link-container {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  text-decoration: none;
}

.earlier-entries-container {
  margin-top: 3rem;
}

.thumbnail-container {
  width: 25%;
}

.text-container {
  margin-left: 1rem;
  margin-right: 1rem;
  flex-shrink: 2;
}

.hero-thumbnail-container {
  width: 50%;
  margin-left: 1rem;
}

.hero-link-container {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-title {
  font-size: 2.75rem;
  margin-bottom: 0.2rem;
}

.hero-caption {
  font-size: 1rem;
  font-style: italic;
  color: #747474;
  margin-bottom: 0.2rem;
}

.hero-blockquote {
  font-size: .9rem;
}

.hero-text-container {
  flex: 1;
}

.title {
  margin-top: .1rem;
  margin-bottom: .5rem;
  font-size: 1.75rem;
}

.date {
  color: #747474;
  font-size: .7rem;
}

.hero-date {
  color: #747474;
  font-size: .9rem;
  margin-bottom: 1rem;
}

.caption {
  font-size: .9rem;
  font-style: italic;
  color: #747474;
  margin-bottom: 0.2rem;
}

@media (max-width: 901px) {
  .title {
    font-size: 1.4rem;
    margin-bottom: .5rem;
  }

  .caption {
    font-size: .8rem;
  }

  .hero-title {
    font-size: 2.3rem;
  }

  .hero-caption {
    font-size: 1rem;
  }

  .date {
    font-size: .8rem;
  }
}