.content-title {
  margin-top: 0;
  font-style: italic;
  color: #747474;
  font-weight: bold;
}

.subtitle {
  font-style: italic;
  color: #747474;
  margin-bottom: 2rem;
}

.breadcrumbs, .breadcrumbs a {
  color: #747474;
  font-size: .8rem;
  margin-bottom: 2rem;
}

.body-copy {
  font-size: .7rem;
  color: black;
}