.title {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1.65rem;
}

.link-container {
  margin-bottom: 5rem;
}

.link {
  text-decoration: none;
}

.block-quote {
  font-size: .9rem;
}

.caption {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-style: italic;
  color: #747474;
  font-size: .8rem;
}

.thumbnail-container {
  width: 100%;
}
