.container {
    margin: 2rem auto;
    margin-top: 0;
}

.title {
    margin-top: 1rem;
    margin-bottom: .5rem;
}
  
.date {
    color: #a30000;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.tagline {
    margin-bottom: 1rem;
}

.image-container {
    margin: 0 auto;
}