.main-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px;
}

@media (min-width: 701px) {
  .main-grid {
      display: grid;
      grid-gap: 8rem;
      grid-template-columns: 1fr 3.5fr
  }
}
