@media (max-width: 900px) {
    .avatar-group {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .avatar-image-container {
        width: 25%;
    }

    .avatar-text-container {
        padding-left: 2rem;
    }

}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 100%;
    object-fit: contain;
    object-position: 60%;
    border-radius: 50%;
    border: 1px solid #288ddf;
}

@media (max-width: 700px) {
    .header-group {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 4fr;
    }
}

.avatar-name {
    margin: 0;
    margin-top: 1rem;
}

.subtitle {
    font-size: .8rem;
    font-weight: bold;
    color: #ff4343;
    margin-bottom: .5rem;
}

.link {
    margin-right: 15px;
    text-decoration: none;
    font-size: larger;
}

.social-link {
    list-style-type: none;
}

.social-link-list {
    margin: 10px 0
}

.social-link a {
    text-decoration: none;
}

.pipe {
    font-size: larger;
    color: #288ddf;
}

@media (max-width: 900px) {
    .link-container {
        display: flex;
        justify-content: space-between;
    }
    .avatar-group {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

@media (min-width: 901px) {
    .avatar-group {
        margin-top: 50px;
        padding-right: 1rem;
    }
}